.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    min-height: 74px;
    width: 100%;
    margin: 0;
    background: #465DFF;
}

.header_signedup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    min-height: 74px;
    width: 100%;
    margin: 0;
    background: #FFFFFF;
}
  
.header__logo {
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 38px;
    height: 38px;
    margin-left: 70px;
}

.header__logo:hover {
    opacity: 0.8;
}

.header__logo_loginreg {
    margin-left: 0;
    margin-top: 70px;
}

.header__info {
    display: flex;
    flex-direction: row;
    margin-right: 70px;
    align-items: center;
}

.header__info_signedup {
    justify-self: center;
    margin-right: 0;
    margin-left: 62px;
}

.header__info_signedup :first-child {
    margin-right: 16px;
}

.header__link {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    margin-right: 30px;
}

.header__link:hover {
    opacity: 0.7;
}

.header__link_black {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-right: 0;
}

.header__link_nav {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 28px;
}

.header__link_selected {
    font-weight: 500;
    text-decoration-line: underline;
}

.header__login-button {
    display: none;
}

.header__nav-button {
    display: none;
    margin-right: 30px;
    width: 44px;
    height: 44px;
    background-image: url(../../images/navigation_icon-main_white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #465DFF;
    border-style: none;
}

.header__nav-button_loggedIn {
    background-color: #FFFFFF;
    background-image: url(../../images/navigation_icon-main.svg);
}

.header__login-button_active {
    display: flex;
    width: 76px;
    height: 32px;
    border: none;
    background-color: #2BE080;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.header__login-button_active:hover {
    opacity: 0.8;
}

.header__login-button_active_signedup {
    width: 100px;
    height: 32px;
    background-color: #FFFFFF;
    border-radius: 40px;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
}

.header__text {
    font-size: 13px;
    color: #000000;
    margin: 0;
    margin-left: 11px;
}

.header__text:hover {
    opacity: 0.7;
}

.header__profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background: #F9F9F9;
    border-radius: 50px;
    margin-right: 3px;
}

.header__profile-logo {
    background-image: url(../../images/icon__profile-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10.38px;
    height: 10.67px;   
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin-left: 30px;
    }
    .header__logo_loginreg {
        margin-left: 0;
        margin-top: 232px;
    }
    .header__info {
        margin-right: 30px;
    }
    .header__info_signedup {
        display: none;
    }
    .header__login-button_active_signedup {
        display: none;
    }
    .header__text {
        display: none;
    }
    .header__profile-wrapper {
        display: none;
    }
    .header__profile-logo {
        display: none;   
    }
    .header__nav-button {
        display: flex;
    }
    .header__nav-button:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        margin-left: 14px;
    }
    .header__logo_loginreg {
        margin-top: 56px;
        align-self: center;
    }
    .header__info {
        margin-right: 14px;
    }
    .header__link {
        font-size: 10px;
        margin-right: 14px;
    }
    .header__link_nav {
        margin-top: 24px;
        font-size: 18px;
        line-height: 22px;
        margin-right: 0;
    }
    .header__login-button_active {
        font-size: 10px;
    }
    .header__nav-button {
        margin-right: 14px;
        width: 40px;
        height: 43px;
    }
}